// Specific mixins for accelerated development.
//
// @date	: 14/09/2011
// @author	: Greg McAusland

.clearfix {
	zoom: 1;
	&:after { 
		content: " ";
		display: table;
	}
}

.hideText {
	text-indent: -9999px;
	display: block;
	font-size: 0;
	line-height: 0;
}

.cleanList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.boxSized {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.hardwareAccelerated {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}